body{
    text-align: center;
    background-color: slategrey;
}
#container{
    width:80vw;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding:70px 0;
}
.header{
    background-color: rgb(0, 0, 0);
    background-image:url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    max-height: 200px;
    min-height: 200px;
    width:100%;
    max-width: 900px;
    margin:auto;
}
#game{
    background-color: white;
    height: 900px;
    width:100%;
    max-width: 900px;
    margin:auto;
}
#statusBars{
    background-color: rgba(128, 128, 128, 0.5);
    margin:auto;
    text-align: center;
    min-width: 50%
}
#statusBars2{
    background-color: rgba(128, 128, 128, 0.5);
    margin:auto;
    text-align: center;
    min-width: 50%;
}